[package]
name = "panoply"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.75"
# bevy = { version = "0.11.2", features = ["dynamic_linking", "filesystem_watcher"] }
# bevy = { git = "https://github.com/bevyengine/bevy", features = ["dynamic_linking", "filesystem_watcher"], branch = "main" }
bevy = { git = "https://github.com/cart/bevy", features = ["dynamic_linking", "filesystem_watcher"], branch = "fix-hot-labels"}
bevy-inspector-egui = "0.19.0"
# bevy-trait-query = "0.3.0"
bevy-trait-query = { git = "https://github.com/hymm/bevy-trait-query", branch = "bevy_asset_v2" }
bevy_mod_picking = { git = "https://github.com/aevyrie/bevy_mod_picking.git",  branch = "main" }
cargo-wgsl = "0.0.14"
directories = "5.0.1"
futures-lite = "1.13.0"
lazy_static = "1.4.0"
lru = "0.11.0"
regex = "1.9.3"
rmp-serde = "1.1.2"
serde = "1.0.171"
serde_bytes = "0.11.12"
serde_derive = "1.0.171"
serde_json = "1.0.103"
serde_repr = "0.1.16"
winnow = "0.5.15"

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3

[patch."https://github.com/bevyengine/bevy"]
bevy = { git = "https://github.com/cart/bevy", features = ["dynamic_linking", "filesystem_watcher"], branch = "fix-hot-labels"}

[patch.crates-io]
bevy = { git = "https://github.com/cart/bevy", features = ["dynamic_linking", "filesystem_watcher"], branch = "fix-hot-labels"}
